* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	display: flex;
}

#topBar {
	position: relative;
	top: 0px;
	padding: 8px 8px;
	display: flex;
}

#splash {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#splash_form {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.main_view {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#userId {
	position: absolute;
	right: 8px;
	text-orientation: sideways-right;
}

.game {
	/* width: 66%; */
	background: black;
}

/* .side { 
	width: 33%;
} */

.chat {
	font: 13px Helvetica, Arial; 
	background: whitesmoke;
	flex: 1;
}

form { 
	padding: 3px;
	width: 100%;
}

form input { 
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button { 
	width: 9.33%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#messages { 
	list-style-type: none; 
	width: 100%;
	margin: 0; 
	padding: 0; 
	overflow: auto;
	height: 512px;
}

#messages li { 
	padding: 5px 10px; 
	
	/* I'm not sure which to use, so here's all of them */
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

#messages li.privateMessage {
	color: green !important;
}

#messages li.alertMessage {
	color: red !important;
}

#messages li.commandMessage {
	color: palevioletred !important;
}

#debug {
	height: 100px;
	overflow-y: auto;
	position: fixed;
	bottom: 0;
}